$black: #000000;
$black-1: #111311;
$black-2: #212121;
$black-3: #1B1B1B;
$black-4: #262626;
$black-5: #000000CC;
$white: #FFFFFF;
$white-1: #FFFFFF80;
$grey: #999999;
$grey-1: #D9D9D933;
$green: #21A038;
$green-1: #B6FFBA;
$green-2: #36853B;
$red: #DD3037;

$bg-main: $black-1;
$bg-basic: $black-2;
$bg-special: $black;
$bg-special-2: $black-5;
$fc-basic: $white;
$fc-title: $grey;
$fc-special: $green;
$fc-button: $black-2;
$bg-button: $grey;
$borderc: $green-1;
$borderc-2: $green-2;
$borderbotc: $grey;
$bgbtn: $red;
$bg-form-header: $black-3;
$bg-form: $black-4;
$fc-placeholder: $grey;
$border-checkbox: $white-1;
$border-checkbox-checked: $white;
$bg-checkbox: $grey-1;
$bg-label: $green;